.List_container{
    width: 400px;
    height: 600px;
    border-radius: 5px;
    background-color:grey;
    margin-left: 10px;

}
.top_container{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 5px 10px 5px;
    border-radius: 10px;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    border: 1px solid grey;
}   
.list_heading{

    padding: 10px;
}
.list_heading h1{
    margin: 0px;
    padding: 0px;
    font-size: 20px;

}
.search{
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-between;
    padding: 19px 15px 17px 13px;
}
.Input_setting{
    border: 2px solid white;
    color: black;
    position: relative;
    padding: 10px 100px 10px 38px;
    border-radius: 10px;
}
.seach_icon{
    position: absolute;
    top: 117px;
    cursor: pointer;
}

.add_contact{
    position: relative;
    align-items: center;

    cursor: pointer;
}

.ContactContainer{
    display: flex;
    gap: 4px;
    flex-direction: column;
}
.nocontact{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}
.ContactImg_setting{
    width: 50px;
}
.Contact_List{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #FFEAAE;
    margin: 0px 12px 0px 12px;
    border-radius: 10px;
   
}
.listImg{
    padding: 5px;
}
.FormSetting{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.UpdateContact{
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    width: 100%;
    margin-right: 10px;
}
.Contact_popup{
    display: flex;
    justify-content: center;
    /* margin-top: 100px; */
    position: relative;
    /* left: 55px; */
    /* bottom: 250px; */
    align-items: center;
}
.AddContact{
    background-color: white;
    width: max-content;
    padding: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 10px;
}
.AddContactForm{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    border-radius: 8px;
}

.AddContact_input{
    width: 200px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid black;
}
.btn button{
    display: flex;
    justify-content: end;
    padding: 8px 10px 8px 10px;
    background-color:#FCCA3F;
    font-weight: 600;
    border-radius: 5px;
}
.btn{
    display: flex;
    justify-content: center;
}